
.wrapper {
    background-color: aliceblue;
    height: 100vh;
}

.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    border: 1px solid;
    padding: 15px;
}

.layout {
    display: grid;
    grid-template-areas: 
                "a a"            
                "b c"
                "d e"
                "f .";
    grid-template-columns: auto;
    gap: 10px;
}

.header {
    grid-area: a;
}

.login-label {
    grid-area: b;
}

.login-input {
    grid-area: c;
}

.password-label {
    grid-area: d;
}

.password-input {
    grid-area: e;
}

.button {
    grid-area: f;
}
