.v-card {
    border-radius: 4px;
    padding: 15px;
    box-shadow: 1px 1px 2px 0px var(--box-shadow-color);
}

.v-card>video {
    height: 100%;
    width: 100%;

}

.v-card > video[poster] {
    object-fit: contain;
}

.v-card:hover {
    transition-duration: 0.25s;
    transition-delay: 0;
    transition-timing-function: ease-in;
    background-color: var(--backdrop-accent);
}