.wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: end;
    max-height: 24px;
    min-height: 24px;
    width: 150px;
}

.avatar {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}